@using Interface.Presentation.Services
@{
    ViewBag.Title = "Donwload";
}
<div class="panel panel-success col-md-12 box">
    <div class="panel-heading">
        <h4>Download</h4>
    </div>
    <div>
        @Html.ActionLink("BugTracker Version 1.0.0 ", "DownloadLibrary")
    </div>
    <strong>Jquery is required.</strong>
</div>
