@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Documentation";
}

@section css{
    @Styles.Render("~/Content/documentation")
}

<div class="row">
    <div class="panel panel-success col-md-6 box" id="documentation">
        <div class="panel-heading text-center">
            <span data-value="Install">Install</span>
            <span data-value="Using">Using</span>
            <span data-value="Errors">Errors</span>
        </div>
        <hr />
        <div class="panel-body" id="documentation-source">
            <div id="Install" style="display:none">
                <h3><b>Downloading the library</b></h3><br /> 
                It is really simple to use the library. Just follow the steps bellow and check how to use it.<br />
                Download the library in your panel on the download tab (available after you have your account).
                You only need to include the library in your application.<br /><br />
                <b>*Important: the library only works if your application uses jquery.</b>
            </div>
            <div id="Using">
                After you installed it will be possible to track all your bugs. Check an <b>example of using</b>
                <br /><br />

                <div class="codebox">
                    <code>
                        CWITracker.track({ <br />
                        <span class="padding">Trace: e //exception object , </span><br />
                        <span class="padding">Status: CWITracker.ERROR,</span> <br />
                        <span class="padding">Tags: ["critical"] </span><br />
                        <span class="padding">}, function callback(error, success) {</span> <br />
                        <span class="padding">console.log(error || success) </span><br />
                        });
                    </code>
                </div>

                <br /><br />
                <h2><b>Params:</b></h2>

                <br />
                <h3><b>*Object:</b></h3><br />
                <b>Status:</b> Error Status. { ERROR, INFO or WARNING }<br />
                <b>Tags:</b> String array informing the tags to use as filter searching. You also can use a tag master here to send email for yourself.<br />
                <b>Trace:</b> Any object.<br />
                <br />
                <br />
                <h3><b>*Function callback:</b></h3>
                <br />
                function to be performed after the error was tracked.<br /><br />
                <b>- First param:</b> A string reporting the error description or undefined in case of success.<br />
                <b>- Second param:</b>  A string reporting success of undefined in case of error.<br /><br />

                OBS: Both object and function callback are required.
            </div>
            <div id="Errors" style="display:none">
                <h3><b>List of errors using our library</b></h3> 
                <br /><br />

                <b>"Domain invalid or Libray broke. Verify your domain in painel and download again library." </b><br />
                It happens when the host request is different of the one stored in the applications panel or
                if the library is corrupted. In this situation check if the "Url" field is correct and then download again the library

                <br /><br />
                <b>"Tags exceeded limit 20 characters":</b><br />
                You sent tags exceeding the limit of 20 characters.
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(function () {
            $('#documentation .panel-heading span').click(function () {
                $('.panel-body > div').hide();
                var id = $(this).attr('data-value');
                $('#' + id).fadeIn();
            });
        });
    </script>
}