@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Documentation";
}

@section css{
    @Styles.Render("~/Content/documentation")
}

<div class="row">
    <div class="panel panel-success col-md-6 box" id="documentation">
        <div class="panel-heading text-center">
            <span data-value="Install">Install</span>
            <span data-value="Using">Using</span>
            <span data-value="Errors">Errors</span>
        </div>
        <hr />
        <div class="panel-body" id="documentation-source">
            <div id="Install" style="display:none">
                A instalção é um processo extremamente simples.
                Após realizar o download da biblioteca (acessível após realizar o cadastro).
                Você só precisa referencia-la em sua página.
                <b>*lembre-se, a referência dovjquery é necessário para o funcionamento da biblioteca.</b>
            </div>
            <div id="Using">
                Após a instalação, você poderá realizar o trackeamento dos seus bugs de forma muito simples.
                <br /><br />
                <b>Exemplo:</b>

                <div class="codebox">
                    <code>
                        CWITracker.track({ <br />
                        <span class="padding">Trace: e //exception object , </span><br />
                        <span class="padding">Status: CWITracker.ERROR,</span> <br />
                        <span class="padding">Tags: ["critical"] </span><br />
                        <span class="padding">}, function callback(error, success) {</span> <br />
                        <span class="padding">console.log(error || success) </span><br />
                        });
                    </code>
                </div>

                <br /><br />
                Parâmetros:

                <br /><br />
                *Object:
                Status: Status do erro, podendo ser: ERROR, INFO or WARNING
                Tags (Array de strings):  array de strings, informando as tags para posteriormente realizar o restramento do erro.
                Trace (Objeto): poderá ser informado qualquer valor, sendo eles: string, int, objeto complexo...

                <br /><br />
                *Function: callback, função a ser executada após o trackamento do erro.
                - Primeiro parâmetro (string): Descrição do motivo do erro, ou vazio em caso de sucesso.
                - Segundo parâmetro (string):  Informativo de sucesso, ou vazio em caso de erro.

                OBS: Os dois parâmetros citados acima (object and callback function) são obrigatórios.
            </div>
            <div id="Errors" style="display:none">
                Ao utilizar a biblioteca, alguns erros podem ocorrer, tais como:
                <br /><br />

                <b>"Domain invalid or Libray broke. Verify your domain in painel and download again library." </b>
                Este erro ocorrerá caso o host da request for diferente do cadastrado no painel, ou no caso
                de corrompimento da biblioteca. Nesta situação, verificar se o campo "url da aplicação" foi cadastrado corretamente, e baixar novamente a biblioteca.

                <br /><br />
                <b>"Tags exceeded limit 20 characters":</b>
                Certamente você está informando uma tag com mais de 20 caracteres.
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(function () {
            $('#documentation .panel-heading span').click(function () {
                $('.panel-body > div').hide();
                var id = $(this).attr('data-value');
                $('#' + id).fadeIn();
            });
        });
    </script>
}