.foto {
    width: 120px;
    height: 120px;
    border-style: groove;
    border-width: 5px;
    border-color: #0d172e;
    border-radius: 10px;
    margin-left: 30px;
}

#user-image {
    height: 70px;
    width: 70px;
}

.table-icon {
    padding-right: 10px;
}

.btn {
    margin: 10px;
}

.box {
    margin-left: 30px;
    height: 77%;
    overflow-y: auto;
}

.graphics {
    height: 200px;
    width: 300px;
}

.logo {
    height: 30px;
    width: 30px;
}

.errors, .ERROR {
    color: #c9302c;
}

.warnings, .WARNING {
    color: #ec971f;
}

.info, .INFO {
    color: #46b8da;
}

.ERROR, .WARNING, .INFO {
    margin-left: 20px;
    font-size: 20px;
}

.icon {
    border-style: groove;
    border-width: 1px;
    border-color: #93c54b;
}

.details {
    width: 128px;
    height: 128px;
    margin: 40px;
}

.list {
    width: 32px;
    height: 32px;
}

.paenl-edit {
    display: none;
}

.panel-heading {
    padding: -10px;
    margin: -20px;
    margin-bottom: 10px;
}

.panel {
    padding: 20px;
}

.modal-content {
    word-wrap: break-word;
}

html, body {
    height: 100%;
}

body {
    margin-top: 94px;
}

.navbar-inverse {
    border: none;
    background-color: #0e1a35;
    padding: 11px 0;
}

.logo {
    height: 60px;
    width: auto;
    margin-right: 20px;
}

.btn-image {
    margin: 0;
}

#project-img {
    text-align: center;
    margin-top: 43px;
}

#imgShow {
    border: 1px solid rgba(14, 26, 53, 0.17);
    border-radius: 50px;
    padding: 17px 52px;
    box-shadow: 1px 1px 19px -12px #0e1a35;
}

.btn-img-perfil {
    color: #0e1a35;
    border: none;
    background-color: transparent;
}

    .btn-img-perfil:hover {
        color: #2dcc70;
    }

.banner-top {
    position: absolute;
    top: 0;
}

.navbar-toggle {
    border: 1px solid #949494 !important;
}

.navbar-header {
    background-color: #0e1a35;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.toggle-table-cell{
    display: table-cell !important;
}

@media (max-width: 1110px) {
    .navi a {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    #navigation {
        display: none;
    }
}
