
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "BugTracker Forgot Password";
}

@section css{
    <link href="~/Content/Custom/forms.css" rel="stylesheet" />
}

@using (Html.BeginForm("ForgotPassword", "UserRecovery", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Type your email to receive a link to change your password</h3>
            </div>
            <div class="panel-body">
                <div class="row register-column">
                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-6">
                            <input type="email" name="email" placeholder="Your Email Address" class="form-control" required>
                        </div>
                            <input type="submit" value="Send" class="btn btn-send btn-warning pull-right"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}